---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  href: string;
};
const {
  href,
  class: className,
  "aria-label": AriaLabel,
  ...props
} = Astro.props;
---

<div class=`clickable ${className}` {...props}>
  <slot />
  <a class="clickable-bkg-link" href={href} aria-label={AriaLabel}></a>
</div>
